.App {
  text-align: center;
}

.App-logo {
  width: 15rem;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  display: flex;
}

.title h1{
  color: #082851;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter > div{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 1rem;
}

.tables{
  display: flex;
  align-items: center;
  align-items: flex-end;
  flex-direction: column;
}

.container,
.tables{
  min-width: min-content;
}

.download-table-xls-button{
  color: white;
  background-color: #082851;
  padding: 1px 5px;
  font-size: 0.775rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
}

.events-table{
  width: 100%;
}

.events-table, 
.events-table th, 
.events-table td {
  border: 1px solid black;
  padding: 3px;
  font-size: 14px;
}

.events-table{
  border-collapse: collapse;
}

.events-table td{
  height: 32px;
}

td.red{
  color: red;
}

td.green{
  color: green;
}

td.nowrap,
th.nowrap
{
  white-space:nowrap;
  width:237px;
}

[contenteditable] {
  display: block;
  position: relative;
  border: 1px solid silver;
  padding: 2px 5px;
}

.editable-mirror {
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    padding: 2px 5px;
    margin: 0;
    border: 0;
    font: inherit;
}